services:
  back-prod:
    image: ghcr.io/benajabendo/le-creuset-back:back-prod
    container_name: lecreuset-back-prod
    restart: always
    networks:
      - proxy
      - db_internal
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.back-prod.rule=Host(`api.lagrenaille.fr`)"
      - "traefik.http.routers.back-prod.entrypoints=websecure"
      - "traefik.http.routers.back-prod.tls.certresolver=myresolver"
      - "traefik.http.services.back-prod.loadbalancer.server.port=3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      # Les variables sensibles seront injectées via le docker-compose.yml généré par la CI

networks:
  proxy:
    external: true
  db_internal:
    external: true
